<template>
  <div>
    <coordinador-component v-if="this.$route.query.rol == 'COORDINADOR' "></coordinador-component>
    <administrador-component v-if="this.$route.query.rol == 'ADMINISTRADOR'" :rol="this.$route.query.rol"></administrador-component>
  </div>
</template>

<script>
import AdministradorComponent from '@/components/AdministradorComponent.vue';
import CoordinadorComponent from '@/components/CoordinadorComponent.vue';
export default {
  components: { AdministradorComponent, CoordinadorComponent },
  name: 'HomeView',
  data() {
    return {
    }
  },
}
</script>
<style scoped>

</style>
