<template>
    <div class="container">
        <v-form @submit="checkForm" method="post">                    
            <p id="login"><span class="span1">Login</span></p>
            <div class="input">
                <input class="form-control" type="text" name="rol" placeholder="Administrador o Coordinador" v-model="rol" required/>
            </div>
            <div class="input">
                <input class="form-control" type="password" name="password" placeholder="password123" v-model="password" required/>
            </div>
            <p v-if="errors.length" style="color:white">
                <b>Por favor corrija los siguientes errores:</b>
            <ul>
                <li v-for="error in errors" :key="error">{{ error }}</li>
            </ul>
            </p>
            <button type="submit" class="mt-4 btn-pers" id="login_button" @click="moveToDasboard">
                Ingresar
            </button>
        </v-form>
    </div>
</template>
<script>
export default{
    name: 'LoginQuickComponent',
    data() {
        return {
            rol: null,
            password: null,
            errors: [],
            users:[
                {
                    rol:"ADMINISTRADOR",
                    nombre:"Juan"
                }
                ,
                {
                    rol:"COORDINADOR",
                    nombre:"Sandra"
                }                
            ]
        };
    },
    methods: {
        checkForm: function (e) {
            if (this.rol && this.password) {
                return true;
            }

            this.errors = [];

            if (!this.rol) {
                this.errors.push("El rol es obligatorio.");
            }
            if (!this.password) {
                this.errors.push('La contraseña es obligatoria.');
            } else if (!this.validRol(this.rol)) {
                this.errors.push('El rol debe ser válido.');
            }

            if (!this.errors.length) {
                return true;
            }
            console.log(this.errors);

            e.preventDefault();
        },
        validRol: function (rol) {
            var re = new RegExp("^[a-zA-Z]+(?:[-'\\s][a-zA-Z]+)*$");
            return re.test(rol);
        },
        moveToDasboard() {
            this.errors = [];

            if (!this.rol) {
                this.errors.push("El rol es obligatorio.");
            }
            if (!this.password) {
                this.errors.push('La contraseña es obligatoria.');
            } else if (!this.validRol(this.rol)) {
                this.errors.push('El rol solo puede tener letras.');
            }

            if (!this.errors.length) {
                try {
                    if (this.rol == null || this.password == null) {
                        alert('¡Se debe ingresar rol y contraseña!');
                    } else {
                        this.rol = this.rol.toUpperCase();
                        if (this.rol === this.users[0].rol) {                        
                            this.$router.push(`/home?rol=${this.users[0].rol}&name=${this.users[0].nombre}`);
                        }else if(this.rol === this.users[1].rol){
                            this.$router.push(`/home?rol=${this.users[1].rol}&name=${this.users[1].nombre}`);
                        }else{
                            alert('El rol no es válido');
                        }
                    }                
                } catch (error) {
                    console.error('error'+ error);
                }
            }
            
        }
  },
}
</script>
<style scoped>
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid lightgray;
    padding: 4rem 4rem;
    border-radius: 5px;
    background: #fefefe;
    box-shadow: 10px 10px rgb(236, 250, 255);
    width: 400px;
    max-width: 95%;
}
.container:hover{
    box-shadow: 10px 10px rgb(226, 204, 3);
    background-color: #181818;
    transition: all 2s linear;
    color: white;
}
.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-radius: 4px;
    box-sizing: border-box;
}

.input>label {
    text-align: start;
}

.input>input {
    margin-top: 6px;
    height: 38px !important;
}

.form-control:focus{
    background-color: #d9ffed;
    text-transform:uppercase;
}

/* From uiverse.io */
.btn-pers {
    position: relative;
    left: 50%;
    padding: 1em 2.5em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    transform: translateX(-50%);
}

.btn-pers:hover {
    background-color: rgb(209, 192, 37);
    box-shadow: 0px 15px 20px rgb(226, 204, 3);
    color: #fff;
    transform: translate(-50%, -7px);
}

.btn-pers:active {
    transform: translate(-50%, -1px);
}

/*  */
.alternative-option {
    text-align: center;
}

.alternative-option>span {
    color: #0d6efd;
    cursor: pointer;
}

#sign_out {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#login{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 30px;
    max-width: 50px;
    margin-top: -15%;
}
.span1{
    color:white; 
    font-size:150%;
}
</style>
