<template>
    <div class="container">
        <div class="tab">
            <button class="tablinks" @click="openCity(event, 'Atletas')">Atletas</button>
            <button class="tablinks" @click="openCity(event, 'Medallas')">Medallas</button>
        </div>
        <div id="Atletas" class="tabcontent">
            <div class="col-sm-12 col-md-12 col-lg-12 row">
                <div class="offset table col col-sm-12 col-sm-12">
                    <table class="table table-bordered" id="my-table">
                        <thead>
                            <tr>
                                <th>Atleta</th>
                                <th>Edad</th>
                                <th>País</th>
                                <th>Año</th>
                                <th>Fecha</th>
                                <th>Deporte</th>
                                <th>Oro</th>
                                <th>Plata</th>
                                <th>Bronce</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="p in datosPaginados" :key="p">
                                <td>{{ p.athlete }}</td>
                                <td>{{ p.age }}</td>
                                <td>{{ p.country }}</td>
                                <td>{{ p.age }}</td>
                                <td>{{ p.date }}</td>
                                <td>{{ p.sport }}</td>
                                <td>{{ p.gold }}</td>
                                <td>{{ p.silver }}</td>
                                <td>{{ p.bronze }}</td>
                                <td>{{ p.total }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify">
                          <li class="page-item" v-on:click="getPreviousPage" ><a class="page-link" href="#">Previous</a></li>
                          <li v-for="pagina in totalPaginas()" :key="pagina" v-on:click="getDataPagina(pagina)" class="page-item" v-bind:class="isActive(pagina)"><a class="page-link" href="#">{{pagina}}</a></li>
                          <li class="page-item" v-on:click="getNextPage"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div id="Medallas" class="tabcontent" v-if="tab == 'Medallas'">
            <div class="row col-md-12 col-sm-12" style="margin: auto;">
                <div class="col col-md-4 col-sm-12 info" id="oro">
                    <div class="card text-center bg-warning text-white" style="width: 18rem;">
                        <img class="card-img-top img" src="gold.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Medallas de Oro</h5>
                        <input v-model.number="golds" hidden>
                        <p style="font-size:30px;">{{ tweened1.toFixed(0) }}</p>
                        <button v-if="open1==true" @click="open1=false" class="btn btn-primary">Descubre</button>
                        <button v-else @click="open1=true" class="btn btn-primary">Descubre</button>
                        <div id="modal1" v-if="open1 == true">
                            <button class="btn btn-"></button>
                            <div class="card" style="width: 18rem; color:black;">
                                <div class="card-body">
                                  <h5 class="card-title">¡El mejor!</h5>
                                  <p class="card-text">El mejor medallista de oro ha sido: {{ deportistas[0].athlete }}.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>                
                </div>
                <div class="col col-md-4 col-sm-12 info" id="plata">
                    <div class="card text-center text-white" style="width: 18rem; background-color:lightgray;">
                        <img class="card-img-top img" src="silver.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Medallas de plata</h5>
                        <input v-model.number="silvers" hidden>
                        <p style="font-size:30px;">{{ tweened2.toFixed(0) }}</p>
                        <button v-if="open2==true" @click="open2=false" class="btn btn-primary">Descubre</button>
                        <button v-else @click="open2=true" class="btn btn-primary">Descubre</button>
                        <div id="modal2" v-if="open2 == true">
                            <button class="btn btn-"></button>
                            <div class="card" style="width: 18rem; color:black;">
                                <div class="card-body">
                                  <h5 class="card-title">¡Conocela!</h5>
                                  <p class="card-text">Una de las medallistas de plata es: {{ deportistas[4].athlete }}.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 col-sm-12 info" id="bronce">
                    <div class="card text-center text-white" style="width: 18rem; background-color:	#CD7F32;">
                        <img class="card-img-top img" src="bronze.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Medallas de bronce</h5>
                        <input v-model.number="bronzes" hidden>
                        <p style="font-size:30px;">{{ tweened3.toFixed(0) }}</p>
                        <button v-if="open3==true" @click="open3=false" class="btn btn-primary">Descubre</button>
                        <button v-else @click="open3=true" class="btn btn-primary">Descubre</button>
                        <div id="modal3" v-if="open3 == true">
                            <button class="btn btn-"></button>
                            <div class="card" style="width: 18rem; color:black;">
                                <div class="card-body">
                                  <h5 class="card-title">¡Uno más!</h5>
                                  <p class="card-text">El último atleta en ganar medalla de bronze fue: {{ deportistas[67].athlete }}.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import gsap from 'gsap'
export default {
    props: {
        rol: String
    },
    name: 'AdministradorComponent',
    data() {
        return {
            tab:'',
            elementosPorPagina: 7,
            deportistas:[],
            datosPaginados:[],
            paginaActual: 1,
            golds:0,
            silvers:0,
            bronzes:0,
            open1:false,
            open2:false,
            open3:false,
            tweened1: 0,
            tweened2: 0,
            tweened3: 0

        }
    },
    mounted() {
        if (this.rol) {
            this.getDeportistas();
        }        
    },   
    methods: {
        number1(n) {
            gsap.to(this, { duration: 10, tweened1: Number(n) || 0 })
        },
        number2(n) {
            gsap.to(this, { duration: 10, tweened2: Number(n) || 0 })
        },
        number3(n) {
            gsap.to(this, { duration: 10, tweened3: Number(n) || 0 })
        },
        openCity(event, cityName) {
            this.tab = cityName;
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
        },
        getDeportistas() {
            axios
                .get("https://raw.githubusercontent.com/ag-grid/ag-grid/master/grid-packages/ag-grid-docs/src/olympicWinners.json")
                .then((res) => {
                    this.deportistas = res.data.slice(1,70);     
                    this.totalPaginas();  
                    this.getDataPagina(1); 
                    this.sumTotales();            
                })
                .catch((error) => {
                    console.error("error " + error);
                });
        },
        totalPaginas(){
            return Math.ceil(this.deportistas.length / this.elementosPorPagina)
        },
        getDataPagina(noPagina){
            this.paginaActual = noPagina;
            this.datosPaginados = [];
            let ini = (noPagina * this.elementosPorPagina) - this.elementosPorPagina;
            let fin = (noPagina * this.elementosPorPagina);

            this.datosPaginados = this.deportistas.slice(ini,fin);
        },
        getPreviousPage(){
            if (this.paginaActual > 1) {                
                this.paginaActual--;
            }
            this.getDataPagina(this.paginaActual);
        },
        getNextPage(){
            if (this.paginaActual < this.totalPaginas()) {                
                this.paginaActual++;
            }
            this.getDataPagina(this.paginaActual);
        },
        isActive(noPagina){
            if (noPagina == this.paginaActual) {
                return 'active';
            }else{
                return '';
            }
        },
        sumTotales(){
            this.deportistas.forEach(element => {
                this.golds += element.gold;
                this.silvers += element.silver;
                this.bronzes += element.bronze;
            });
            this.number1(this.golds);            
            this.number2(this.silvers);            
            this.number3(this.bronzes);            
        },
    }
}
</script>
<style scoped>
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
button.page-link {
    display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
    width: 500px !important;
    margin: 20px;  
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
#oro{
    border: 1px solid white;
}
#plata{
    border: 1px solid white;
}
#bronce{
    border: 1px solid white;
}
.img{
    align-items: center;
    justify-content: center;
    width: 286px;
    max-width: auto;
    min-width: auto;
    height: 180px;
    min-height: auto;
    max-height: auto;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal1 {
    color: #fff;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    transition: all .5s;
    margin-left: -6.5%;
    z-index: 2;
}

#modal2 {
    color: #fff;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    transition: all .5s;
    margin-left: -6.6%;
    z-index: 2;
}

#modal3 {
    color: #fff;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    transition: all .5s;
    margin-left: -6.8%;
    z-index: 2;
}
</style>