<template>
    <div class="container">
        <img src="mantenimiento.png" alt="">
    </div>
</template>
<script>
    export default{
        name: 'CoordinadorComponent',
    }
</script>
<style scoped>
img{
    position: absolute;
    height: max-content;
    width: max-content;
  }
</style>