<template>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  </head>
  <div class="navbar">
    <img src="./assets/logo.png" width="30" class="me-2" alt="" style="margin-top:15px;"/>
    <div class="nav" v-if="this.$route.query.rol">
      <span style="margin-top:15px; font-family:Impact, Haettenschweiler, Arial Narrow Bold, sans-serif">{{this.$route.query.name+'   |   rol: '+this.$route.query.rol+'  |'}}</span>
      <router-link to="/login" style="margin-top:10px;"><button type="button" class="btn btn-info">Logout</button></router-link>
    </div>
    <div class="nav" v-else>
      <img src="./assets/logo.png" width="30" class="me-2" alt="" style="margin-top:15px;"/>
      <router-link to="/login" style="margin-top:15px;">Login</router-link>
    </div>
  </div>
  <router-view/>
</template>
<script>
export default {
	data() {
    return{
      disabled:false
    }
	}
}
</script>
<style scoped>
#name_project {
  font-weight: 700;
}
.navbar {
  background: #fafafa;
  top: 0;
  width: 100vw;
  height: 70px;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  margin-left: -8px;
  margin-top: -8px;
}

.nav {
  width: 80%;
  min-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: #fafafa;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid lightgray;
  padding: 4rem 4rem;
  border-radius: 5px;
  background: #fefefe;
  box-shadow: 10px 10px rgb(236, 250, 255);
}
#content:hover{
  box-shadow: 10px 10px rgb(226, 204, 3);
  background-color: #181818;
  transition: all 2s linear;
  color: white;
}

img{
  margin: auto;
}

</style>
